* {
  list-style-type: none;
}
.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
  margin: 20px;
  border-radius: 10px;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
  margin: 20px;
  border-radius: 10px;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
  margin: 20px;
  border-radius: 10px;
}

/* Write your code here. */
.heading {
  color: #326a9d;
  font-weight: 500;
  font-family: 'Roboto';
}
.description {
  color: #64748b;
  font-weight: 400;
  font-family: 'Roboto';
}
.list {
  padding: 20px;
}
.button {
  background-color: transparent;
  color:#326a9d;
  border:3px solid #326a9d;
  height:40px;
  font-size: 15px;
  border-radius: 5px;
}
